* {
    box-sizing: border-box;
}

.wrapper {
    width: 690px;
}

body{
    background-color: gray;
}

header, nav, section, p, h1, aside, footer {
    background-color: lightgray;
    color: gray;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav, header, footer {
    padding: 30px;
    margin: 10px;
    
}

section {
    width: 365px;
    float: left;
    height: 207px;
    margin: 10px;
    padding: 20px 5px 5px 5px;
}

#box {
    overflow: auto;
    clear: both;
}

#midBox {
    overflow: auto;
    background-color: gray;
    color: lightgray;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    height: 150px;
    float: left; 
    clear: both;
    width: 355px;
}

.smallbox {
  padding: 10px;
  
}

article {}
    /* background-color: gray;
    color: lightgray;
    text-align: center;
    vertical-align: center;
    padding: 10px 10px 10px 5px;
    height: 150px;
    float: left; 
    clear: both;
    width: 340px;
} */



aside {
 float: left;   
 width: 285px;
 height: 200px;
 margin: 10px 5px 10px 10px;
 padding-top: 30px;
}

footer {
    clear: both;
}