* {
    box-sizing: border-box;
}

.wrapper {
    width: 690px;
    margin: auto;
}

body{
    background-color: #777;
}

header, nav, section, p, h1, aside, footer {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

nav, header, footer {
    padding: 30px;
    margin: 10px;
    
}

section {
    width: 365px;
    float: left;
    height: 235px;
    margin: 10px 10px 20px 10px;
    padding: 20px 5px 5px 5px;
}

#box {
    overflow: auto;
    clear: both;
}

#midBox {
    overflow: auto;
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    height: 155px;
    float: left; 
    clear: both;
    width: 355px;
}
 p, h1 {
     padding: 10px;
     margin: 10px 5px 3px 5px;
 }

aside {
 float: left;   
 width: 285px;
 height: 235px;
 margin: 10px 5px 10px 10px;
 padding-top: 30px;
}

footer {
    clear: both;
}